/* Colors */
/* NAV FONT COLOR */

@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Fredoka+One&family=PT+Sans&display=swap");

@font-face {
    font-family: "BraziliaSevenCGRegular";
    src: url('./fonts/BraziliaSevenCGRegular.otf') format('embedded-opentype'), /* Internet Explorer */
         url('./fonts/BraziliaSevenCGRegular.otf') format('woff2'), /* Super Modern Browsers */
         url('./fonts/BraziliaSevenCGRegular.otf') format('woff'), /* Pretty Modern Browsers */
         url('./fonts/BraziliaSevenCGRegular.otf')  format('truetype'), /* Safari, Android, iOS */
         url('./fonts/BraziliaSevenCGRegular.otf') format('svg'); /* Legacy iOS */
}

.home_images{
  text-align: center;
}

.home_images:hover {
    webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
}
.footer_pad {
   column-rule-style: none;
  column-count: 4;
    column-width: 150px;
  column-gap: 50px;
  line-height: 30px;
  width: auto;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 20px;
}

.footer{
  padding-top: 30px;
}

.center {
text-align:center;
}

.body_padding {
  width: auto;
    margin: 20px;
}

.home_title {
  width: auto;
  margin: 20px;

  padding-top: 20px;
text-align: center;
  letter-spacing: 30px;
  font-size: 130px;
}

.secondary_title {
    font-size: 25px;
    color: black;
}

/* This is to style my icons */
.icons {
    outline: none;
    font-size: 30px;
    color: black;
}

/* Grabs color */
a {
    color: inherit;
}
/*fonts*/
/* classifies font for the nav bar */
.font{
    font-family: 'BraziliaSevenCGRegular';
}
.font_title {
    font-family: 'BraziliaSevenCGRegular';
    font-size: 120px;
}

.font_17px {
    font-family: 'BraziliaSevenCGRegular';
    font-size: 17px;
}


/* Styles nav bar */
.style_navbar {
    list-style-type: none;
    padding-left: 20px;
    padding-top: 30px;
    overflow: hidden;
    font-family: 'BraziliaSevenCGRegular';
    font-size: 25px;
}
li {
    float: left;
}


li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 10px;
}

li a:hover {
    background-color: black;
    color: yellow;

}


/* Styles background color for website */
body {
    background-color: #FFFFFF;
}


/* Removes underlines for everything using a <a> or <u> tag */
a,u{
    text-decoration: none;
}
